<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="googleSite" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="browser" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <googleSite configSource="Framework\googleSite.config" />
  <browser configSource="Framework\browser.config" />
</configuration>