<?xml version="1.0" encoding="utf-8" ?>
<BaseConfig>

	<!--Base configurations for the project-->

	<!--Selected Test Group: Google, Something else...-->
	<add key="testSuite" value="Files"/>
	
	<!--Run browser Headless? True or False-->
	<add key="isHeadless" value="True"/>

	<!--Currently Selected Browser: Chrome, Firefox, or MSEdge-->
	<add key="webBrowser" value="Firefox"/>

	<!--Environment: Development, Staging, Production-->
	<!--More fun names: Hades, Athena, Olympus - this is your progam, go wild!-->
	<add key="env" value="Development"/>

	<!--Placeholder-->
	<add key="base_url" value="https://www.google.com"/>



</BaseConfig>