<?xml version="1.0" encoding="utf-8" ?>
<googleSite>
  <add key="base_url" value="https://www.google.com"/>
  <add key="about_url" value="about.google"/>
  <add key="store_url" value="store.google.com"/>
  <add key="logged_in_gmail_url" value="mail.google.com"/>
  <add key="not_logged_in_gmail_url" value="www.google.com/gmail"/>
  <add key="images_url" value="google.com/imghp"/>
  <add key="account_url" value="accounts.google.com"/>
</googleSite>